<?xml version="1.0"?>

<model>
  <name>mesa</name>
  <version>1.0</version>
  <sdf version='1.6'>table_dobotv4.sdf</sdf>

  <author>
    <name>Daniela Avila</name>
    <email>daniela.aluna@outlook.com</email>
  </author>

  <description>
    Workspace of the Dobot CR5 with a gripper at Tec de Monterrey
  </description>
</model>